@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-shrink: 0;
    font-family: 'Indie Flower', cursive;
    flex-wrap: wrap;
}

main {
    flex-grow: 1;
    background-color: rgb(208, 208, 208);
}

.header-text {
    font-size: 64px;
    color: white;
    margin: 15px 2px;
}

.header-subtext {
    margin: 100px 0px;
    font-size: 40px;
    font-weight: 600;
}

.display-text {
    font-size: 32px;
    margin: 30px 0px;
}

.buttons {
    margin: 100px 0px;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.selectionButton {
    display: flex;
    height: 250px;
    width: 250px;
    font-size: 48px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-width: 8px;
    border-style: outset;
    border-color: rgb(63, 94, 116);
}

.selectionButton:hover {
    transform: scale(1.2);
}

.selectionButton:active,
.selectionButton:focus {
    border-color: wheat;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 94, 143);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgb(20, 94, 143);
    color: white;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
}

a {
    color: white;
    
}

.display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 300px;
    font-size: 60px;
    margin-top: 60px;
    font-weight: 500;
}

.header-subtext {
    text-align: center;
}